.piano-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #eee;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  overflow: hidden;
}

.piano-octave {
  display: flex;
  background-color: #eee;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  width: fit-content; /* This makes sure the background only wraps around the content */
  position: relative;
}

.key {
  height: 150px;
  width: 36px;
  margin-right: 3px;
  border: 1px solid #999;
  border-radius: 0 0 5px 5px;
  cursor: pointer;
  user-select: none;
  transition: 0.1s;
  display: grid;
  align-content: end;
}

.key:last-child {
  margin-right: 0; /* ensuring the last key has no extra margin */
}

.key.white {
  background-color: #fff;
  z-index: 1;
}

.key.black {
  height: 100px;
  width: 26px;
  background-color: #000;
  margin-right: -28px; /* to position the black keys correctly between the white keys */
  z-index: 2;
  color: #fff;
  font-size: 12px;
  position: relative;
  left: -15px
}

.key.white:active {
  background-color: #ddd;
}

.key.black:active {
  background-color: #444;
}
