.piano {
  padding: 0px 14px;
}
.piano-upper {
  display: flex;
  justify-content: center;
  border-top:10px solid black;
  border-bottom:10px solid black;
}
.piano-speaker {
  opacity: 0.8;
  /*background-color: #212020;
  background-image:  linear-gradient(135deg, #2d2a2a 25%, transparent 25%), linear-gradient(225deg, #2d2a2a 25%, transparent 25%), linear-gradient(45deg, #2d2a2a 25%, transparent 25%), linear-gradient(315deg, #2d2a2a 25%, #212020 25%);*/

  background-color: #282c34;
  background-image:  linear-gradient(135deg, #555e6f 25%, transparent 25%), linear-gradient(225deg, #555e6f 25%, transparent 25%), linear-gradient(45deg, #555e6f 25%, transparent 25%), linear-gradient(315deg, #555e6f 25%, #282c34 25%);

  background-position:  10px 0, 10px 0, 0 0, 0 0;
  background-size: 20px 20px;
  background-repeat: repeat;
  text-indent: -9999px;
  padding: 40px 0px;
  border-right: 10px solid black;
  border-left: 10px solid black;
}